* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: url("./img/zy/b1.png");
}

#main1 {
    width: 1000px;
    margin: 0 auto;
    transform-origin: top center;
}

/*顶部导航栏等*/
#tou_dl {
    position: relative;
    height: 54px;
    background: url("./img/zy/OGC.gif") repeat-x;
}

 .td_t {
     position: relative;
     width: 100%;
    height: 50px;
    line-height: 50px;
    background: yellowgreen;
}
 .td_l {
    float: left;
    width: 35%;
    height: 100%;

}
.td_l ul {
    margin: 0 25px;
}
.td_l li {
    float: left;
    list-style-type: none;
}
.td_l a {
    display: block;
    height: 100%;
    margin: 0 20px;
    text-decoration: none;
    color: white;
}
.td_t a:hover {
    color: #6bb7d0;
}
.td_c {
    position: absolute;
    top: 0;
    left: 37vw;
    height: 40px;
    margin: 5px 0;
    opacity: 1;
}
.td_c .tdc1 {
    text-indent: 1em;
    border: none;
    outline: none;
     width: 20vw;
    box-sizing: border-box;
    float: left;
    display: block;
    height: 100%;
}
.td_c .tdc2 {
    border: 0 white solid;
    box-sizing: border-box;
    float: left;
    display: block;
    width: 4vw;
    height: 100%;
    cursor: pointer;
    color: #7a7a7a;
}
.td_c .tdc2:active {
    background: rgb(252, 247, 247);
}
.td_r {
    float: right;
    width: 35%;
    height: 100%;
}
 .td_r form {
    float: right;
    list-style-type: none;
    height: 100%;
}
.td_r form li {
    list-style-type: none;
    float: right;
    height: 30px;
}
 .td_r a {
    display: block;
    height: 100%;
    margin: 0 20px;
    color: white;
}
.td_r .tdr_tx {
    box-sizing: border-box;
    border: white solid 1px;
    width:46px;
    height: 46px;
    background: red;
    border-radius: 23px;
    margin: 3px;
    overflow: hidden;
}




#body1 {
}

#body1 .b1_dh {
    position: relative;
    height: 50px;
    border-radius: 0 0 30px 30px;
    background: yellowgreen;
}

#body1 .b1_dh ul {
    width: 95%;
    margin: 0 auto;
}

#body1 .b1_dh li {
    float: left;
    list-style-type: none;
}

#body1 .b1_dh a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    background: yellowgreen;
    color: azure;

}
#body1 .b1_dh a:hover {
color: #6bb7d0;
}

#body1 .b1_m {
    position: relative;
    width: 1000px;
    height: 700px;
    margin-top: 1px;
}

#body1 .b1_m .dst_1,
.dst_2 {
    fill: #6bb7d0;
}

#body1 .b1_m .b1m_dst {
    height: 50px;

}

#body1 .b1_m .b1m_bj1 {
    position: absolute;
    top: 50px;
    box-sizing: border-box;
    width: 1000px;
    background: rgba(135, 206, 235, 0.66);
    overflow: hidden;
    height: 600px;
    margin-bottom: 50px;
    border: 8px #6bb7d0 solid;
    border-radius: 150px;
}
#body1 .b1_m .b1m_bj1 iframe {
    border: none;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 600px;
    left: -8px;
    transform: scaleX(0.984);
    transition: all 1s ease 0s;
}
#body1 .b1_m .b1m_bj {
    position: relative;
    width: 3000px;
    height: 500px;
    top: 50px;
    left: -8px;
    transition: all 1s ease 0s;
}

#body1 .b1_m .b1mbj_z {
    display: none;
    top: 270px;
    position: absolute;
    left: 0;
    opacity: 50%;
    transition: all 0.3s ease 0s;
}

#body1 .b1_m .b1mbj_z:hover {
    transform: scale(1.1) translateX(2px);
    opacity: 100%;
    cursor: pointer;
}

#body1 .b1_m .b1mbj_y {
    display: block;
    top: 270px;
    position: absolute;
    right: 0;
    opacity: 50%;
    transition: all 0.3s ease 0s;
}

#body1 .b1_m .b1mbj_y:hover {
    transform: scale(1.1) translateX(-2px);
    opacity: 100%;
    cursor: pointer;
}

#body1 .b1_m .b1m_bj div {
    float: left;
    width: 300px;
    margin: 30px 14px 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 0 white solid;
    border-radius: 90px;
}

#body1 .b1_m .b1m_bj div:hover {
    transform: scale(1.05) translateY(-10px);
}

#body1 .b1_m .b1m_dsj {
    position: absolute;
    top: 650px;
}
#body1 .b1_m .b1m_dsj .dsj_1
,.dsj_2  {
    fill: #6bb7d0;
}
#bottom {
    background: rgba(119, 113, 113, 0.3);
    height: 60px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 30px 30px 0 0;
}