* {
    margin: 0;
    padding: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    background: aqua;
}
#left {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    background: url("../img/登录left.PNG") no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
}
#right {
    box-sizing: border-box;
    background: rgb(94,160,255);
    width: 70vw;
    height: 100vh;
    float: right;
}
a {
    text-decoration: none;
}
#zc {
    top: 20vh;
    right: 15vw;
    width: 40vw;
    height: 30vw;
    background-color: rgba(132, 233, 251, 0.3);
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    position: absolute;
    font-size: 18px;
    text-align: center;

}
#zc a {
    text-decoration: none;
}

.pp {
    display: inline-block;
    font-size: 12px;
    color: #383838;
    background: url("../img/感叹right.png") no-repeat left;
    background-size: 20px 20px;
    padding-left: 20px;
}
.ppwrong {
    display: inline-block;
    font-size: 12px;
    color: #ef0000;
    background: url("../img/感叹号wrong.png") no-repeat left;
    background-size: 20px 20px;
    padding-left: 20px;
}
.box {
    position: absolute;
    width: 115px;
    height: 115px;
    border: 1px solid #ccc;
    margin: 100px auto;
    font-size: 14px;
    text-align: center;
    color: #f40;
    display: block;
    right: 2px;
    top: 520px;
}
.box img {
    width: 90%;
    margin-top: 5px;
}
.close-btn {
    position: absolute;
    top: -1px;
    left: -16px;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    line-height: 14px;
    font-family: Arial;
    cursor: pointer;
}

.dlzc h2 {
    height: 80px;
    font-size: 25px;
    line-height: 80px;
}
.dl {
    margin: 0 50px;
    white-space:nowrap;
    text-align: center;
}
.dl span {
    margin: 0 5px;
}
.dl p {
    margin: 20px 0;
}
.dl .bdl,
.bcz {
    margin: 10px 30px;
}
.qye {
    margin: 10px 60px;
    font-size: 10px;
}
.abc a{
    margin-right:2vw;

}

#d1{
    width: 400px;
    height: 300px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    overflow: hidden;
    display: none;
    background-color: white;
    line-height: 300px;
    text-align: center;
}
#d1
,#d0 {
    width: 400px;
    height: 300px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    overflow: hidden;
    display: none;
    background-color: white;
    line-height: 300px;
    text-align: center;
}
#d2{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 1;
    opacity: 0.8;
    display: none;
}
#number{
    display: block;
    width: 90%;
    height: 30px;
    margin: 40px auto;
    border: solid 1px #248CD6;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
}
#number:focus{
    border: solid 1px #248CD6;
    border-radius: 5px;
    box-shadow: 0 0 8px #248CD6;
}
.submit{
    display: flex;
    width: 90%;
    height: 40px;
    margin: 20px auto;
}
.cancel,.confirm{
    flex: 1;
    margin: 2px;
    border: none;
    transition: all 0.2s;
}
.cancel:hover,.confirm:hover{
    background-color: #248CD6;
    color: white;
}
.top{
    width: 90%;
    height: 20px;
    margin: 2px auto;
}
.top a{
    float: right;
    margin-right: 2px;
    text-decoration: none;
    color: #3A3C3D;
    opacity: 0.5;
}
.top a:hover{
    opacity: 1;
}
