* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.main {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: none;
    overflow: hidden;
}
.b1m_bj {
    position: relative;
    width: 3000px;
    height: 500px;
    top: 50px;
    left: 0;
    transition: all 1s ease 0s;
}
.b1mbj_z {
    display: none;
    top: 270px;
    position: absolute;
    left: 0;
    opacity: 50%;
    transition: all 0.3s ease 0s;
}
.b1mbj_z:hover {
    transform: scale(1.1) translateX(2px);
    opacity: 100%;
    cursor: pointer;
}
.b1mbj_y {
    display: block;
    top: 270px;
    position: absolute;
    right: 0;
    opacity: 50%;
    transition: all 0.3s ease 0s;
}
.b1mbj_y:hover {
    transform: scale(1.1) translateX(-2px);
    opacity: 100%;
    cursor: pointer;
}
.b1m_bj div {
    float: left;
    width: 300px;
    margin: 30px 16.66666px 0px ;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 0 white solid;
    border-radius: 90px;
}
.b1m_bj div:hover {
    transform: scale(1.05) translateY(-10px);
}

.b1mbj_c {
    box-sizing: border-box;
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 0px;
    left: 0px;
    border: 10px lightblue solid;
    border-radius: 100px;
}